/*=============================================
/ PRIMARY COLOR 
/=============================================*/
/**---- Background HEX ----**/
.topbar:before, .nav_bar .right_bgs, .ind_btn:before, .ind_btn.ib_dark:hover:after, .ind_btn_2, .sec_title.with_bar:after, .mainmenu ul.sub_menu, #backtotop, .video_01 .vp a:hover, .icon_box_01:hover,
.filterMenu ul li.all, .serviceSlider.owl-carousel .owl-nav button:hover, .videoPlay1:hover, .subscribForm button, .dl-menu__wrap ul li a::after, .close-popup:hover:after, .close-popup:hover:before,
.popUp_social a:hover, .ab_btn, .serviceThumb a, .ind_btn_icon, .worksSlider.owl-carousel .owl-nav button:hover, .teamslider.owl-carousel .owl-dots .owl-dot.active, 
.teamslider.owl-carousel .owl-dots .owl-dot:hover, .videoPlay:hover i, .yearsofexp, .skill, .teamslider2.owl-carousel .owl-nav button:hover, .history_box .hisbar,
.featureSlider.owl-carousel .owl-dots .owl-dot:hover, .featureSlider.owl-carousel .owl-dots .owl-dot.active, .singleService .serviceDetails > a:after, .mediaItem a,
.sidebar_1 .widget ul li:hover, .sidebar_1 .widget ul li.active, .widget.havqueswidget, .icon_box_04, .ind_pagination a:hover, .ind_pagination span.current,
.emptyStyle.filterMenu ul li:after, .sf4_hov a.prePhoto2, .sf4_hov a.detailsLink2:hover, .sf5_det > a, .relatedArrows span.prevRelated:hover, .relatedArrows span.nextRelated,
.sidebar_2 .searchForms button, .socialLinks a:hover, .tagclouds a:hover, .commentForm input[type="submit"], .newsGall.owl-carousel .owl-nav button, .newsMedia,
.shopViewBtn a:hover, .shopViewBtn a.active, .price_slider_wrapper input[type="submit"], #slider-range .ui-slider-range, #slider-range .ui-slider-handle, .add_to_car_btn,
.productTabs.nav-tabs .nav-link:after, .relatedNavs .owl-prev:hover, .relatedNavs .owl-next, .cart_table tbody tr td.product-remove a.remove:hover, .update_cart, .checkout-button, 
.cart_table tbody tr td.actions .coupon_submit, #shipping_method li input[type="radio"]:checked + label::after, .loginss input[type="checkbox"]:checked + label::after,
.wc_payment_methods li input[type="radio"]:checked + label::after, .cotactForm input[type="submit"]
{
    background: #33aacc;
}
.slider_02 .hermes .tp-arr-imgholder:after, .slider_01 .hermes .tp-arr-imgholder:after{
    background: rgba(51, 170, 204, .7);
}
.singlefolio:after{
    background: rgba(51, 170, 204, .8);
}
.mores{
    background-color: #33aacc;
}

/**---- Color Text ----**/
.info_element i, .info_element p a:hover, .settings_bar a:hover, .settings_bar a.active, .color_settings .switch-btn.active, .color_settings .switch-btn:hover, .ind_btn:hover, .sub_title.dark_sub_title,
.ind_lead, .breadcrumbs a:hover, .video_01 .vp a, .icon_box_01 i.smaller, .filterMenu ul li i, .filterMenu ul li:hover, .filterMenu ul li.active, .icon_box_02 i, .icon_box_03 i, .icon_box_03 h3 a:hover,
.icon_box_03 ul li:before, .videoPlay1, .ti_author span, .bi_meta, .bi_meta a, .bi_details h3 a:hover, .read_more, .blogItem2 h3 a:hover, .caller i, .footer_01 .widget ul li a:hover,
.footer_01 .widget_title span, .serviceItem h5 a:hover, .subscribForm button:hover, .widget .socials a:hover, .siteinfo a:hover, .social_and_settings a:hover, .social_and_settings a:hover, 
.social_and_settings a.active, .aboutCompanys h5, .serviceDetails h2 a:hover, .cta_left h6, .sf2_con p, .sf2_con h3 a:hover, .singleTeam span, .singleTeam h3 a:hover, .teamsocials a:hover,
.videoPlay i, .testimonial_item.testimonial_item2 h3, .bmeta a:hover, .blogItem3 h3 a:hover, .bauthor a:hover, .bIcollapse .bi_meta a:hover, .footer_02 .widget_title span, .fo_social a:hover,
.footer_02 .widget ul li a:hover, .newsfeed p, .newsfeed h4 a:hover, .st2_inner h2 a:hover, .st2_inner span, .cta_left_02 i, .history_box h5, .history_box a:hover, .sf_content h3 a:hover,
.singleService .serviceDetails > a:hover, .sidebar_1 .widget ul li a i, .singleBrou i, .singleBrou h3 a span, .singleBrou h3 a:hover, .singleBrou > a:hover, .sda_cates, .ltworks h3 a:hover,
.ltworks p, .folioHover_03 .cats a, .sf4_hov a.prePhoto2:hover, .sf4_hov a.detailsLink2, .sf4_det h3 a:hover, .sf4_cat, .sf5_meta a:hover, .sf5_det h3 a:hover, .sf5_cat, .pd_cat a, .pd_social a:hover,
.rel_btns span i, .relatedArrows span.prevRelated, .relatedArrows span.nextRelated:hover, .sb_cats a, .sbDetails h4 a:hover, .sb_footer span a:hover, .mediaItem a:hover, .ndMeta span a:hover, 
.sidebar_2 .searchForms button:hover, .sidebar_2 .widget ul li:hover a, .allfeeds a:hover, .ndTags a:hover, .ndShare a:hover, .pagin h3 a:hover, .ndAuthorInner h3 a:hover, .authorSocial a:hover, 
.ndcHead h5 a:hover, .ndcHead span, .ndcHead a.replys:hover, .cfItem i, .commentForm input[type="submit"]:hover, .searchForms2 i:hover, .productTitle a:hover, .product_btn a i, .product_btn a:hover,
.singlePro a:hover, .sp_price p, .price_slider_wrapper input[type="submit"]:hover, .offerDe, .pd_rating, .quantityd button.qtyBtn:hover, .wishlisth_btn:hover, .text_meta a:hover, .social_shares a:hover,
.productTabs.nav-tabs .nav-link.active, .productTabs.nav-tabs .nav-link:hover, .add_to_car_btn:hover, .commentRating, .relatedNavs .owl-prev, .relatedNavs .owl-next:hover, 
.cart_table tbody tr td.product-title a.itemtitle:hover, .cart_totals table tr td .amount, #shipping_method li input[type="radio"]:checked + label, .loginss a:hover, .fof_contents h1, 
.woocommerce-checkout-review-order tfoot tr.order-total td span.amount, .icon_box_05 i, .ib5_inner > a, .ib5_inner p span, .iconInput i, .cotactForm input[type="submit"]:hover
{
    color: #33aacc;
}
.mainmenu > ul > li > a{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient( to right, #33aacc, #33aacc 50%, #7e889b 50% );
    background-image: -moz-linear-gradient( to right, #33aacc, #33aacc 50%, #7e889b 50% );
    background-image: -ms-linear-gradient( to right, #33aacc, #33aacc 50%, #7e889b 50% );
    background-image: -o-linear-gradient( to right, #33aacc, #ff5e14 50%, #7e889b 50% );
    background-image: linear-gradient( to right, #33aacc, #33aacc 50%, #7e889b 50% );
}

/**---- Border Color ----**/
.nav_bar .right_bgs:before{
    border-color: transparent #33aacc transparent transparent;
}
.serviceSlider.owl-carousel .owl-nav button:hover, .worksSlider.owl-carousel .owl-nav button:hover, .teamslider2.owl-carousel .owl-nav button:hover, .history_box .hisbar:before,
.socialLinks a:hover, .tagclouds a:hover, .newsGall.owl-carousel .owl-nav button, .wishlisth_btn:hover, .relatedNavs .owl-prev:hover, .relatedNavs .owl-next
{
    border-color: #33aacc;
}